/*
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

.nav {
  text-align: right;
}

.nav li {
  list-style-type: none;
  font-size: 20px;
}

.signin-container {
  text-align: center;
}
.signin-icons {
  margin-top: 30px;
}
ul.image-list {
  list-style-type: none;
}
ul.image-list li {
  display: inline-block;
}
ul.image-list img {
  max-width: 128px;
}
