h3
  strong Product Information:

strong Category:
|
'
= @product.category && @product.category.name
br
strong Name:
|
'
= @product.name

br
strong Price:
|
'
= @product.price
br
strong Status:
|
'
= @product.active == true ? "Yes" : "No"

br
strong Description:
= @product.description.html_safe

br
= link_to 'Edit', edit_product_path(@product)
'
| |
'
= link_to 'Back', products_path
